/* ****** Reset CSS ****** */

:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f3f5fc;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {
  /*   background-image: url(../img/fondo2.jpg);
  background-size: cover; */
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 93vh;
  text-align: center;
  align-content: center;
}

.btn-iniciar {
  background-color: #0a3871;
  padding: 24px;
  width: 317px;
  height: 114px;
  margin-top: 30px;
  border-radius: 24px;
  gap: 8px;
  color: #f3f5fc;
  font-size: 1.5rem;
}
.btn-iniciar:hover {
  background-color: green;
  color: white;
  transition: 0.5s ease-in-out;
}

.btn-agregar-palabra {
  width: 317px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  margin-top: 20px;
}

.btn-agregar-palabra:hover {
  background-color: green;
  color: white;
  transition: 0.5s ease-in-out;
}
.inicio,
p {
  color: var(--second-color);
  padding-top: 70px;
}
.categoria {
  width: 317px;
  height: 30px;

  border-radius: 10px;
}
.logo {
  position: fixed;
  z-index: 999;
  margin-top: 20px;
  margin-left: 40px;
}

.canvas-conteiner {
  display: flex;
  justify-content: center;
  background: rgba(243, 245, 252, 0.7);
  margin: 10px auto 0 auto;
}
.info {
  width: 28%;
  max-height: 41vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#acierto {
  min-height: 25px;
  transform: scale(0);
}
#mal {
  min-height: 25px;
  transform: scale(0);
}
.acierto {
  animation: zoomInOut 1s ease;
}

#msg-final {
  text-align: center;
  margin: 0;
  transition: all 0.5s ease;
  transform: scale(0);
  min-height: 16px;
  margin-bottom: 0;
}

.zoom-in {
  transform: scale(0.8) !important;
}

.msg-final {
  animation: zoomInOut 1s ease;
}
.acierto {
  animation: zoomInOut 1s ease;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.rojo {
  color: red;
}
.verde {
  color: forestgreen;
}
.canvas {
  display: flex;
  width: 35%;
}

.oculta {
  margin: 15px auto 0 auto;
  text-align: center;
  color: royalblue;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.escena {
  display: grid;
  margin: 0 auto 0 auto;
  top: auto;
  left: auto;
}
.escena2 {
  margin: 0 auto 0 auto;
}

.btnJuego {
  display: flex;
  flex-direction: row;
  background-color: #f3f5fc;
  margin: 15px auto 0 auto;
  padding: 0;

  gap: 1rem;
}

.btnNuevo,
.btnDesistir,
.btnAyuda {
  background-color: #0a3871;
  font-size: 1rem;
  width: 9rem;
  height: 2.6rem;
  color: #f3f5fc;
  border-radius: 10px;
}
.btnNuevo:hover {
  background-color: green;
  color: white;
  transition: 0.2s ease-in-out;
}

.btnDesistir:hover {
  background-color: green;
  color: white;
  transition: 0.2s ease-in-out;
}

.btnAyuda:hover {
  background-color: green;
  color: wheat;
  transition: 0.2s ease-in-out;
}

.ayuda {
  display: flex;
  flex-direction: column;
  visibility: visible;
  text-align: center;
  margin: 10px auto 0 auto;
}

.container {
  max-width: 70%;
  margin: 1.5vh auto 0 auto;
}

.palabra {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2.6rem, 1fr));
  gap: 0.6rem;
}

.letra,
.espacio {
  border: 0.5px solid #999;
  text-align: center;
  height: 2.6rem;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 1);
  cursor: pointer;
}

.letra:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}

.copyright {
  display: flex;

  height: 4vh;
  align-items: center;
  justify-content: center;
}
.autor {
  height: 2vh;
  padding-top: 10px;
  margin: 0 15px 0 15px;
}
.redes {
  height: 2vh;
  font-size: 2rem;
  margin-right: 4rem;
}
iconify-icon {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .logo {
    position: absolute;
    z-index: 999;
    margin-top: 8px;
    margin-left: 6px;
  }
  .canvas-conteiner {
    display: flex;
    margin: 10px auto 0 auto;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
  }
  .info {
    width: 100%;
    display: flex;
    height: 45px;
    flex-direction: row;
    align-items: center;
  }
  .mal {
    font-size: 1.2em;
    margin-left: 8px;
    width: 40%;
    justify-items: center;
    text-align: center;
  }
  #msg-final {
    position: fixed;
    width: 100%;
    background-color: rgba(243, 245, 252, 0.7);
    text-align: center;
    margin: 0;
    transition: all 0.5s ease;
    transform: scale(0);
    min-height: 16px;
    top: 50px;
    width: 301px;
    left: auto;
    margin-left: 50px;
  }
  .hide {
    display: none;
  }

  .acierto {
    width: 30%;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
  }
  .canvas {
    display: block;
    width: 50%;
    margin: auto;
  }
  .btnNuevo,
  .btnDesistir {
    width: auto;
  }
  .container {
    max-width: 95%;
  }
  .copyright {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
  }
}

@media screen and (max-width: 450px) {
  .info {
    width: 100%;
  }
  #msg-final {
    position: fixed;
    width: 100%;
    background-color: rgba(243, 245, 252, 0.7);
    text-align: center;
    margin: 0;
    transition: all 0.5s ease;
    transform: scale(0);
    min-height: 16px;
    top: 50px;
    width: 301px;
    left: auto;
    margin-left: 34px;
  }
}
